---
import "../styles/global.css";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="Marcelo Pecin's personal website" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>Marcelo Pecin :: Software Engineer</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="font-sans antialiased">
        <div
            class="h-1 bg-linear-to-r from-amber-500 via-amber-400 to-amber-500 dark:from-amber-600 dark:via-amber-500 dark:to-amber-600"
        >
        </div>
        <Navigation />
        <main class="min-h-screen"><slot /></main>
        <Footer />
    </body>
</html>
